ZERODHA_API_KEY=
ZERODHA_API_SECRET=
ZERODHA_CLIENT_ID=LI8768
ZERODHA_ACCESS_TOKEN=
SESSION_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8080/auth/github/callback
APP_HOST=0.0.0.0
APP_PORT=8080

APP_BASE_URL=http://203.57.85.108:8000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_ALLOWED_ORG=sanjai-learning
SESSION_SECRET=

